certifi==2022.12.7
chardet==3.0.4
docker-pycreds==0.4.0
docker==3.7.2
dockerpty==0.4.1
idna==2.8
prompt-toolkit==2.0.9
requests==2.21.0
six==1.12.0
urllib3==1.26.5
wcwidth==0.1.7
websocket-client==0.56.0
